<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="icon" href="static/img/ai.ico" type="image/gif">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0">
    <title>{% block title %}
GENEREIC TITLE
        {% endblock %}</title>

</head>

<body>


<header>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">
            <nav>
                <h1 class="brand"><a href="{{url_for('homepage')}}">Music<span> Genre</span> Classifier</a></h1>
                <ul>
                    <li><a href="{{url_for('homepage')}}">Home</a></li>
                    <li><a href="{{url_for('project')}}">Project</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
            </nav>
        </div>


    <br><br>
    {% block content %}

{% endblock %}
</header>

 <script type="text/javascript"
         src="{{ url_for('static', filename='js/header.js') }}"></script>

</body>
</html>